.login h1 a{
    background-image: none,url(../img/logo-black.png) !important;
    width: 110px !important;
    background-size: 100%;
    margin: auto !important;
    height: 110px;
}

#redux-header{
    display: none;
}
body{
    background: url(../img/southteam.jpg);
    background-size: 100%;
	    overflow: hidden;
}
#login{
    padding: 30px 30px;
    float: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    display: block;
    top: 50%;
	left:50%;
		position: absolute;
    z-index: 1;
	margin-left:-190px;
	margin-top:-250px;
}
.login form{
    box-shadow: none;
    margin-top: 0px;
    margin-left: 0;
    padding: 15px 24px 15px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
}
.login form .input{
    height: 40px;
    border: 1px solid #ebebeb;
    padding: 0 20px;
    width: 100%;
    border-radius: 5px;
    color: #656565;
    float: none;
    font-size: 13px;
    margin: 10px 0px;
}
.login label {
    color: #4f4f4f;
    font-size: 15px;
}
.wp-core-ui #login .button-primary{
    margin: 0;
    padding: 15px 0 !important;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 140px;
    font-size: 14px;
    line-height: 5px !important;
    height: 40px !important;
    background: #009FE3;
    box-shadow: none;
    text-shadow: none;
}

#adminmenuback{
    background-color: #293949;
}
div#particles-js {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
    top: 0;
}